# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / Dist
dist/
build/

# Banco de dados local
*.sqlite
*.sqlite3

# Arquivos do sistema
.DS_Store
Thumbs.db

# Coverage (testes)
coverage/

# IDEs
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.swp
